<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixWAK</key>
				<true/>
			</dict>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v dart=0 npci=0x2000</string>
		<key>DefaultVolume</key>
		<string>Mac</string>
		<key>Timeout</key>
		<integer>15</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>11</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string> Astek Fusion 2 Unrestricted </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				xoGSAwAAAQ+3uYABAADoaQoAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string> AstekFusion2Family</string>
				<key>Replace</key>
				<data>
				xoGSAwAAAA+3uYABAADpBgAAAA==
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>
		hHIRP6Y6
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>08/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP61.88Z.0120.B00.1708080652</string>
		<key>Board-ID</key>
		<string>Mac-F60DEB81FF30ACF6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>F5K706701GUDNJKUE</string>
		<key>BoardType</key>
		<integer>11</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Pro-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x02</string>
		<key>Family</key>
		<string>MacPro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE136</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x04</string>
		<key>ProductName</key>
		<string>MacPro6,1</string>
		<key>SerialNumber</key>
		<string>F5KT728QF9VM</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>E0091F35-1B56-4D7D-9BF4-3EDE4E3FA63A</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NoCaches</key>
		<true/>
	</dict>
</dict>
</plist>
